*{
    box-sizing: border-box;
}
body{
    background: url(back.jpg);
    width: 100%;
    height: 100%;
    font-family: Verdana,sans-serif;
}
.logo{
    color:white;
    line-height: 80px;
    font-size: 35px;
   padding:0 100px;
    font-weight: bold; 
}
nav{
    width: 100%;
    height: 80px;
    background-color: rgba(0,0,0,.1);
}
nav a{
    text-decoration: none;
    color:white;
}
header{
    background-color: rgba(0,0,0,.1);
    height: 95px;
}
nav li{
    display:inline;
    margin-left:0;

}
nav{
    z-index: 2;
}
nav ul{
    float: right;
    position: absolute;
    top:0;
    right: 0;
    padding: 20px;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    padding: 0px 5px;
}
nav ul li a{
    color:white;
    padding:0px 9px;
    border-radius: 3px;
}
a:hover{
    color:limegreen;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#checkbox{
    display:none;
}
@media (max-width:952px) {
    .logo{
     font-size: 30px;
     padding-left:10px;
    }
    nav ul li a{
        font-size:16px;
    }
}
@media (max-width:950px){
        #menu-icon{
        display:block;
    }
     nav ul{

        position: absolute;
        width:100%;
        height: 500px;
        left:0;
        text-align: center;
        color:black;
        display:flex;
        flex-wrap: wrap; 
        overflow: hidden;
        backdrop-filter: blur(5px);
        z-index: 1;
    }
    nav ul li{
        width: 100%;
    }
    #checkbox:checked~ul{
    display: none;
    }
    .checkbtn{
        display:block;
        z-index:2;
    }
    #menu-icon{
    z-index: 2;
    font-size: 35px;
    position:absolute;
    }
    nav a{
        transition: .3s ease;
    }
    .c-con{
        position: relative;
        bottom: 50px;
        width:100%;
    }
}
@media (max-width:372px){
    .logo{
        font-size: 25px;
        padding: 0 20px;
    }
}
.c-con{
font-family: cursive;
padding-top: 2em;
color: white;
display: block;
flex-wrap: wrap;
}
.c-con{animation:animatezoom 4s infinite}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-xlarge{font-size:32px!important}
.w3-jumbo{font-size:64px!important}
.a-white{
    color:limegreen;
    font-family:verdana ;
}
.pad-1{
    padding-top: 2em;
}
.underline{
    text-decoration: underline;
    font-family:cursive;
    padding-top: 40px;
    color: white;   
    text-shadow: 4px 8px 4px black;
}

body{
    margin: none;
}
.container-up{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0px;
}
@media (max-width:600px){
    .container-up{
flex-direction: column;
gap:10px;
    }
}
.container-up-down{

width: 100%;
}
.child-1{
flex:40%;
background: #4CB5F5;
margin: 25px;
padding: 25px;
border-radius: 16px;
}
.child-2{
    flex:40%;
    background:#0091D5 ;
    margin: 25px;
    padding: 25px;
    border-radius: 16px;
}
.container-down{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0px;
}
@media (max-width:600px){
    .container-down{
        flex-direction: column;
        gap:10px;
    }
}
.child-3{
    flex:40%;
    background: #6AB187;
    margin: 25px;
    padding: 25px;
    border-radius: 16px;
}
.child-4{
    flex:40%;
    background:#81eed6;
    margin: 25px;
    padding: 25px;
    border-radius: 16px;
}
.w3-medium{font-size:20px!important}
.txt-1{
    color: rgb(99, 10, 10);
    text-decoration: underline;
    text-shadow: 2px 4px 2px black;
}
.child-btn-1{
    color:white;
    background: rgb(52, 255, 52);
    border-radius: 8px;
    border: transparent;
    width: 100px;
    height: 30px;
    margin: 10px 0px 0px 0px;
}
.child-btn-1:hover{
box-shadow: 4px 8px 4px rgb(0, 255, 106);
}
footer{
   background: #000;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0;
}
li{text-decoration: none;
    list-style-type:none;
    margin:10px;
    color:white;
}
.text-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 100px 0px 20px 0px;
}
@media (max-width:600px){
    .text-footer{
        flex-direction: column;
        text-align: center;
        padding-top:10px ;
        font-size: 20px !important;
        
    }
}

i{
    font-size: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
}
